<div id="editor">
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words. A very popular and powerful text editor
    for code is <a href="https://code.visualstudio.com/">Visual Studio Code</a>.
  </p>

  <p>
    <a href="https://code.visualstudio.com/download"> Download VS
    Code</a> for your operating system following the default
    indications of the installer.
  </p>
</div>
